name: Build and Push on render
on:
  push:
    branches:
      - main

jobs:
  build_render:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to render
        run: curl ${{ secrets.RENDER_DEPLOY_HOOK  }}